Repository kimata/e-ink_weather_panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, renovate

Path conditions:
  deploy: any of: react/package.json, react/package-lock.json, pyoroject.json, src/**/*
  renovate: any of: renovate.json

fix
  src/weather_display/sensor_graph.py
Due: deploy

fix: bug
  src/display_image.py
Due: deploy

fix
  pyproject.toml
Due: none

fix: typo
  src/display_image.py
Due: deploy

fix
  tests/test_playwright.py
Due: none

fix: Liveness のテスト方法を改善
  tests/test_basic.py
Due: none

fix
  config-small.example.yaml
  config.example.yaml
Due: none

fix
  .gitlab-ci.yml
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  react/package-lock.json
Due: deploy

chore(deps): update dependency eslint to v9
  react/package.json
Due: deploy

chore(deps): update typescript-eslint monorepo to v8
  react/package-lock.json
  react/package.json
Due: deploy

fix: Rye に移行
  .github/workflows/regression.yaml
Due: none

fix
  react/package-lock.json
  react/package.json
Due: deploy

fix
  renovate.json
Due: renovate

fix
  .gitlab-ci.yml
  renovate.json
Due: renovate

fix: 不要な needs を削除
  .gitlab-ci.yml
Due: none

fix: テストを高速化
  .gitlab-ci.yml
Due: none

fix: YAML のフォーマットを設定
  .pre-commit-config.yaml
Due: none

style: フォーマット調整
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency vite to v5
  react/package-lock.json
  react/package.json
Due: deploy

fix: バージョンを更新
  .github/workflows/regression.yaml
Due: none

debug
  src/weather_display/rain_cloud_panel.py
Due: deploy

fix
  src/weather_display/rain_cloud_panel.py
Due: deploy

fix: コードを整理
  tests/test_basic.py
Due: none

fix
  Dockerfile
Due: none
