Repository kimata/e-ink_weather_panel: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, renovate

Path conditions:
  deploy: any of: react/package.json, react/package-lock.json, pyoroject.json, src/**/*
  renovate: any of: renovate.json

fix
  Dockerfile
Due: none

fix
  .gitlab-ci.yml
  script/buildkitd.toml
Due: none

fix
  .gitlab-ci.yml
Due: none

fix
  pyproject.toml
Due: none

fix
  .python-version
  pyproject.toml
Due: none

fix
  src/weather_display/rain_cloud_panel.py
Due: deploy

fix
  pyproject.toml
  src/weather_display/rain_cloud_panel.py
Due: deploy

fix
  .gitlab-ci.yml
  renovate.json
Due: renovate

fix
  src/healthz.py
Due: deploy

fix: typo
  .gitlab-ci.yml
Due: none

fix
  config-small.example.yaml
  config.example.yaml
  src/healthz.py
  tests/test_basic.py
Due: deploy

fix
  pyproject.toml
  src/display_image.py
Due: deploy

fix: 不要なライブラリ指定を削除
  pyproject.toml
Due: none

fix
  .gitlab-ci.yml
  script/buildkitd.toml
  script/registry_push.zsh
  src/healthz.py
  src/weather_display/power_graph.py
  src/weather_display/sensor_graph.py
Due: deploy

fix
  .python-version
Due: none

fix
  .dockerignore
  Dockerfile
Due: none

fix
  Dockerfile
  pyproject.toml
Due: none
